*{
    margin: 0;
    padding: 0;
}

.body_index {
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-attachment: fixed;
}


/* Header */

.d-flex {
    align-items: center;
}

header {
    max-width: 1200px;
    margin: auto;
    background-color: lightgreen;
    margin-top: 10px;
    margin-bottom: 30px;
}

.titulo_header {
    background-color: lawngreen;
    padding: 10px;
    margin-left: 25px;
}

.header__nav {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

.header__nav, .ul__nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    margin-top: 25px;
    margin-left: 10px;
}

.header__nav, .ul__nav, .li__ul {
    padding-top: 5px;
    padding-bottom: 5px;  
    padding-left: 10px;
    padding-right: 10px; 
}

.navbar-toggler {
    margin: 10px;

}

#carrito {
    background-color: white;
}

.carrito_img {
width: 50px;
}

.img_carrito {
    width: 50px;
}

.btn_carrito {
    margin-left: 20px;
    display: flex;
    background-color: white;
    border: 1px solid white;
}


.contador_carrito {
    font: bold;
    color: red;
    background-color: white;
    border: 1px solid white;
    border-radius: 50%;
    margin: -10px;
    padding: 2px 8px;
}

.input_cantidad {
    width: 40px;
}

.container_fluid, .container_navbar{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}


/*BODY*/


.div_buscador {
    background-color: white;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 6px 10px 10px grey;

}

.buscar_filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buscador_prod {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}


.titulo_buscador, 
.subtitulo_buscador, 
.ingreso_buscador,
.btn_buscador {
    padding: 10px;
} 

.mostrar_prod {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    padding: 5px;
}

.userValidacion {
    color: red;
    text-align: center;
}

.card_container {
    display: flex;
    flex-direction: column;
    background-color: white;
}


#main_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    width: 90%;
    justify-content: center;
}

.card__picture {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;   
}



.info_card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button_card {
    width: auto;
    color: white;
    background-color: blue;
    margin: 10px;
    padding: 10px;
    border: 1px, solid, blue;
    border-radius: 5px;
}

.button_cardSumar {
    color: white;
    background-color: blue;
    border: 1px solid blue;  
    border-radius: 25%;
    padding: 2px 8px;  
}

.button_cardEliminar {
    width: auto;
    color: white;
    background-color: red;
    border: 1px solid red;
    border-radius: 50%;
    padding: 2px 8px;
}

.img {
    width: 90%;
    margin: 10px;
}

.img:hover {
    transition: 300ms;
    transform: scale(1.05);
}

.carrito_flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    border: 1px solid, gray;
}

.div_carrito {
    border: 1px, solid, gray;
}

.carrito_info {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10px;
}

.img_carrito {
    width: 60px;

}

.carrito_cantidad {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: baseline;
    padding: 10px;
}

.carrito_precio {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: baseline;
    padding: 10px;
}

.precio_carrito, .precio_total {
    padding: 5px;
}

.carrito_overflow {
    overflow-y: scroll;
}

.div_total {
    background-color: white;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid, white;
    border-radius: 2px;
}

.text_end {
    margin: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.cantidad_input {
    width: 40px;
}

/*FOOTER*/

.footer {
    font-family: "Mulish", sans-serif;
    max-width: 1200px;
    font-size: 13px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    gap: 10px;
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center; }



/*COMPRA HTML*/

.carrito_titulo {
    background-color: white;
    margin: auto;
}

.carrito_h3{
    text-align: center;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
}

.carrito_pago {
    background-color: white;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.total {
    margin-top: 25px;
}

.main_login{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    align-items: center;
}

.card_form{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-end;
    margin: 10px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
}

.form_data {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
}

.btn_login_azul {
    background-color: blue;
}
.btn_login_verde {
    background-color: green;
}
.btn_login_rojo {
    background-color: red;
}

.btn_push {
    color: white;
}


.body_delivery{
    background-image: url("../img/huerta.jpg");
    background-size: contain;
}
.form_register{
    margin: 2px;
    padding: 1px;
}


.div_delivery {
    background-color: white;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
}


.section_delivery {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 100px;
    padding: 50px;
    justify-content: space-evenly;
}

.img_delivery { 
    width: 100%;
}

.titulo_delivery{
    margin: auto;
    text-align: center;
}

.card_compra{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
}

.btn_regresar {
    color: white;
}